<?xml version="1.0"?>
<configuration>
  
    <connectionStrings>
    <add name="BrightKeeperConnectionString" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BrightKeeper;Integrated Security=True"
      providerName="System.Data.SqlClient" />
     </connectionStrings>
     
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <appSettings>
        <add key="SystemPath" value="D:\BrightKeeper"/>
      <!--<add key="DBTYPE" value="MSACCESS"/>-->
      <add key="DBTYPE" value="MSSQL"/>
        <add key="Language" value="0"/>
        <add key="CSVLang" value="0"/>
        <add key="EXCELCSV" value="0"/>
        <add key="Data" value="Data\BrightKeeper.accdb"/>
        <add key="Log" value="Log\"/>
        <add key="DTformat" value="yyyy/MM/dd"/>
        <add key="PrtItmLbl" value="Y"/>
        <add key="PrtItmLblColumnNum" value="9"/>
        <add key="LabelCSV" value="ItemLabel"/>
        <add key="LabelCSVDate" value="Y"/>
        <add key="LabelCSVPath" value="D:\BrightKeeper\Label"/>
        <add key="LabelCSVHeader" value="Product,ProductName,Dimension,Qty,Lot No,Warehouse"/>
        <add key="LabelItemDelimiter" value=":"/>
        <add key="LabelItem1Text" value="Warehouse"/>
        <add key="LabelItem2Text" value=""/>
        <add key="LabelItem3Text" value=""/>
        <add key="LabelItem1Default" value="830-ISS"/>
        <add key="LabelItem2Default" value=""/>
        <add key="LabelItem3Default" value=""/>
        <add key="LabelLotLength" value="12"/>
        <add key="LabelQtyLength" value="7"/>
        <add key="LabelItem1Length" value="7"/>
        <add key="LabelItem2Length" value="50"/>
        <add key="LabelItem3Length" value="20"/>
        <add key="MASTER_ITEMVIEW" value="2,6,8,9,10"/>
        <add key="MASTER_INVENTORY" value="2,6,8,9,10"/>
        <add key="MANUAL_SLEEP" value="1000"/>
        <add key="MANUAL_TYPE" value="1"/>
    </appSettings>
</configuration>
